{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}" />

<h1 class="title">Django Polls Tutorial</h1>

{% if latest_question_list %}
<div class="wrapper">
	<ul>
	{% for question in latest_question_list %}
		<li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
	{% endfor %}
	</ul>
</div>
{% else %}
  <p>No polls are available.</p>
{% endif %}
